@font-face {
    font-family: "manrope";
    src: url("../font/Manrope-Medium.ttf");
}

#root,
body,
html {
    height: 100%;
}

body {
    overflow: hidden;
}

ol,
ul {
    list-style: none;
}

body,
button,
input {
    font-family: "manrope";
    font-size: 14px;
    line-height: 18px;
}

#root,
article,
main,
div,
section,
header,
nav,
footer {
    border: 0 solid #000000;
    box-sizing: border-box;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
}

html {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background: url("../img/bg.jpg") no-repeat center center fixed;
    background-size: cover;
}

.logo {
    background: cover no-repeat;
    width: 175px;
    height: auto;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.wrapper,
.article {
    flex-grow: 1;
    justify-content: center;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-box-pack: center;
    -moz-box-pack: center;
}

.article {
    flex-direction: row;
    margin: 0 auto;
    max-width: 935px;
    width: 100%;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
}

.content {
    color: #262626;
    flex-grow: 1;
    justify-content: center;
    max-width: 350px;
    margin-top: 12px;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
}

.login-box {
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #6b3a724f;
    margin: 0 0 10px;
    padding: 10px 0;
    /* align-items: center; */
}

.header {
    margin: 14.45px auto 12px;
}

.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    -moz-box-direction: normal;
    -webkit-box-direction: normal;
}

.input-box {
    margin: auto 40px 6px;
}

input {
    height: 36px;
    border: 1px solid #efefef;
    border-radius: 3px;
    background-color: #fafafa;
    width: 100%;
    font-size: 12px;
    margin: 0;
    padding: 9px 0 7px 8px;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
}

input#name:focus,
input#password:focus {
    border-color: #bbb;
}

.button-box {
    display: block;
    position: relative;
    margin: 8px 40px;
}

.btn {
    cursor: pointer;
    width: 100%;
    padding: 0 8px;
    background: #ecaed6;
    border: 1px solid #ecaed6;
    color: #fff;
    border-radius: 3px;
    font-weight: 600;
    font-size: 14px;
    height: 28px;
    line-height: 26px;
    outline: none;
    white-space: nowrap;
}

.or {
    text-align: center;
    color: #8e8e8e;
}

.line-left {
    margin-top: 23px;
    margin-left: 30px;
    position: absolute;
    width: 120px;
    height: 1px;
    background: #8e8e8e;
}

.line-right {
    margin-top: 23px;
    margin-left: 200px;
    position: absolute;
    width: 120px;
    height: 1px;
    background: #8e8e8e;
}

.forgot,
.forgot:active,
.forgot:hover,
.forgot:visited {
    font-size: 12px;
    margin-top: 12px;
    text-align: center;
    color: #003569;
    line-height: 14px!important;
}

.text {
    text-align: center;
    margin: 15px;
    color: #262626;
    font-size: 14px;
}

.text a,
.text a:visited,
.text a:hover,
.text a:active {
    color: #3897f0;
    margin-left: 3px;
}

a,
a:visited {
    text-decoration: none;
}

a:active,
.btn:active {
    opacity: .5;
}

.app p {
    line-height: 18px;
    color: #262626;
    font-size: 14px;
    text-align: center;
    margin: 10px 20px;
}

.app-img {
    flex-direction: row;
    justify-content: center;
    margin: 10px 0;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
}

.app-img a {
    margin-right: 8px;
    height: 43.5px;
}

.app-img img {
    height: 40px;
}

@media (max-width:450px) {
    .main {
        background-color: #fff;
    }
    .content {
        max-width: 100%;
        margin-top: 0;
        justify-content: space-between;
    }
    .login-box {
        background-color: transparent;
        border: none;
    }
    .logo {
        background: cover no-repeat;
        width: 175px;
        height: auto;
        margin: 0 auto;
    }
    .btn {
        cursor: pointer;
        width: 100%;
        padding: 0 8px;
        background: #ecaed6;
        border: 1px solid #ecaed6;
        color: #fff;
        border-radius: 3px;
        font-weight: 600;
        font-size: 14px;
        height: 28px;
        line-height: 26px;
        outline: none;
        white-space: nowrap;
    }
    .input-box {
        border: 1px solid #efefef;
        border-radius: 3px;
        height: 36px;
        background: #fafafa;
        position: relative;
    }
    input {
        border: 0;
        background-color: #fafafa;
        width: 100%;
        font-size: 12px;
        margin: 0;
        padding: 9px 0 7px 8px;
        outline: none;
        overflow: hidden;
        text-overflow: ellipsis;
        box-sizing: border-box;
    }
    .input-box:hover,
    .input-box:focus {
        border-color: #bbb;
    }
}